@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: "Lexend Giga", serif;
}
.Section-1{
    gap: 70px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,  #030306, #103678);
}
.text{
    gap: 10px;
    font-size: 20px;
    display: flex;
    padding: 15px;
    align-items: center;
    font-family: "Lexend Giga", serif;
}
.ll{
    font-size: 30px;
}
.ff{
    font-size: 20px;
}

.text-lg{
    width: 550px;
    padding: 7px;
    font-size: 12px;
    line-height: 30px;
    font-family: "Lexend Giga", serif;
}
.hero{
    gap: 20px;
    display: flex;
    padding: 15px;
    align-items: baseline;
}

.text-ls{
    font-size: 14px;
    font-weight: 700;
    padding: 7px;
}

.box-input{
    height: 600px;
    width: 450px;
    padding: 25px;
    background: dimgrey;
    border-radius: 10px;
    border: solid 1px #0091ff;
    background: #fff;
}
.text-k{
    padding: 15px 7px;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    font-family: "Lexend Giga", serif;
}
.leks{
    color: #202020;
    font-size: 14px;
    padding: 20px 50px;
}
.link-login{
    color: #000;
    font-size: 14px;
    font-family: "Lexend Giga", serif;
}
.divs{
    gap: 10px;
    color: #000;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.ffff{
    height: 1px;
    width: 170px;
    background: #000;
}
.se{
    color: #000;
    margin-top: -11px;
}
.huuk{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}